<div class="content">
    <h1 class="title">Ajouter une Fonction</h1><br>
    <label for="nom">Nom :
        <input ng-model = "item.nom" type="text" name="nom">
    </label>

    <label for="description">Description :
        <input ng-disabled = "!item.nom" ng-model = "item.description" type="text" name="description">
    </label>

    <label for="Categorie">Champs existants
      <select multiple name="fonction" ng-model = "item.champs" ng-options="chp.nom for chp in champs"></select>
    </label>

    <input ng-click = "addFct(item)" ng-disabled = "!item.champs" class="push_button" type="submit" name="action" value="Ajouter">

</div>

<pre> fonction : {{item | json}}</pre>
