<div class="content">
    <h1 class="title">Ajouter un Modèle</h1><br>
    <label for="nom">Nom :
        <input ng-model = "item.nom" type="text" name="nom">
    </label>

    <label for="description">Description :
        <input ng-disabled = "!item.nom" ng-model = "item.description" type="text" name="description">
    </label>

    <label for="Categorie">Catégorie
      <select ng-disabled = "!item.description" name="cat" ng-model = "item.category" ng-options="cat.nom for cat in categories"></select>
    </label>
    <label for="fonction">Fonctions existantes
      <select ng-disabled = "!item.category" multiple name="modele" ng-model = "item.fct" ng-options="fct.nom for fct in fonctions"></select>
    </label>

    <input ng-click = "addModel(item)" ng-disabled = "!item.fct" class="push_button" type="submit" name="action" value="Ajouter">

</div>

<pre> modèle : {{item | json}}</pre>
