<div >
  <input style="width:100%;"type="text" ng-model = "queryCat" placeholder="Rechercher une catégorie">
</div>
    <div id="js-Portfolio" class="categorie">
      <div  class="item" ng-repeat="category in librairie | filter : queryCat" >

          <div class="form-group js-item">
            <div class="btn-group js-title">
                <label class="title" style="cursor:pointer;"><input ng-model = "checked" type="checkbox"/>{{category.nom}} <span class="glyphicon glyphicon-chevron-down"></span></label>
                </div>
            <div class="js-body" ng-if="checked">
              <input style="width:100%;"type="text" ng-model = "queryMdl" placeholder="Rechercher un modèle">

            <table class="table table-striped">
                                <th scope="col">Nom</th>
                                <th scope="col">Description</th>
                                <th scope="col">Actions</th>
                                <tr class="Models" ng-repeat="model in category.modeles | filter : queryMdl" ng-if = 'category.modeles.length > 0' >
                                  <td>{{model.nom}}</td>
                                  <td>{{model.description}}</td>
                                  <td class="actions">
                                    <a ng-click = "copy(model)" href="#" class="btn-sm btn-info"><span class="glyphicon glyphicon-file"></span> </a>
                                    <a ng-click = "edit(model)" href="#" class="btn-sm btn-success" data-toggle="modal" data-target="#ModalEdition"><span class="glyphicon glyphicon-edit"></span> </a>
                                    <a ng-click = "edit(model)" href="#" class="btn-sm btn-danger" data-toggle="modal" data-target="#ModalSuppression"><span class="glyphicon glyphicon-trash"></span> </a>
                                  </td>
                                </tr>
              </table>
            </div>
          </div>

      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="ModalEdition" tabindex="-1" role="dialog" aria-labelledby="ModalEditionLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="ModalEditionLabel">Modifier le modèle {{modele.nom}}</h4>
              </div>

              <div class="modal-body">
                  <form id="form" novalidate class="">
                      <div>
                          <div ng-init = "modele.fct" ng-repeat = "fct in modele.fct">
                              <h1>{{fct.nom}}</h1><br><br>
                              <div class="content" ng-init = "fct.champs" ng-repeat = "champ in fct.champs">
                                  <ng-switch on="champ.typeinput">
                                      <label ng-switch-when= "text" >
                                        {{champ.nom}}
                                        <input type="{{champ.typeinput}}" ng-model = "champ.valeur" name="{{champ.name}}"> {{champ.unit}}
                                      </label>

                                      <label ng-switch-when= "select" >{{champ.nom}}
                                        <select ng-model = "champ.valeur" name="{{champ.name}}" ng-init = "champ.default_select">
                                          <option ng-repeat="val in champ.default_select" value="{{val}}">{{val}}</option>
                                        </select>{{champ.unit}}
                                      </label>
                                  </ng-switch>
                              </div>
                          </div>
                      </div>

                  </form>
                  <input type="button" class="btn btn-primary btn-lg btn-block" data-dismiss="modal" ng-click = "update(modele)" value="Appliquer">

              </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



        <!-- Modal -->
        <div class="modal fade" id="ModalSuppression" tabindex="-1" role="dialog" aria-labelledby="ModalSuppressionLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="ModalSuppressionLabel">Etes vous sûr de supprimer le modèle {{modele.nom}}</h4>
                  </div>
                      <input type="button" data-dismiss="modal" class="btn btn-danger btn-lg btn-block" ng-click = "remove(modele)" value="Supprimer">
                  </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
