
<p class="title">Ajouter un nouveau modèle</p><br>

<input ng-click = "toggleShow()" id="btn_selection" type="button" name="" value="Générer un autre modèle" class="push_button hidden">
<div id="Selection" class="">

<label for="shearch">rechercher</label>
<input name="shearch"type="text" ng-model = "shearch">

<label for="Category">Selectionnez une catégorie</label>
<select name="Category" ng-model="Category" ng-options="category.nom for category in categories | filter: shearch"></select>

<label for="Model">Selectionnez un modèle</label>
<select name="Model" ng-disabled ="!Category" ng-model="Model" ng-options="model for model in Category.modeles"></select>

<input ng-disabled = "!Model" class="push_button" type="button" ng-click = "generer()" value="Générer">

</div>

<form id="form" class="form hidden" action="index.html" method="post">

</form>
