
    <div class="categorie" ng-repeat="category in librairie" >
    <h1 class="title">{{category.nom}}</h1>
    <div class="Models" ng-repeat="model in category.modeles" ng-if = 'category.modeles.length > 0' >

      <div class="item">
        <div class="item__name">
          {{model.nom}}

        </div>
        <div class="item__desc">
          {{model.description}}
        </div>
        <div class="item__actions">

          <i ng-click = "copy(model)" class="far fa-copy"></i>
          <i ng-click = "edit(model)" data-toggle="modal" data-target="#myModal" class="far fa-edit"></i>
          <i ng-click = "remove(model)" class="far fa-trash-alt"></i>
        </div>
      </div>
    </div>
    </div>


    <!-- Bouton execution modal -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Modifier le modèle {{modele.nom}}</h4>
    </div>
    <div class="modal-body">

        <form id="form" novalidate class="">
          <div>
              <div ng-init = "modele.fct" ng-repeat = "fct in modele.fct">
                  <h1>{{fct.nom}}</h1><br><br>
                  <div class="content" ng-init = "fct.champs" ng-repeat = "champ in fct.champs">
                    <ng-switch on="champ.typeinput">
                      <label ng-switch-when= "text" >{{champ.nom}} <input type="{{champ.typeinput}}" ng-model = "champ.valeur" name="{{champ.name}}"> {{champ.unit}}</label>

                      <label ng-switch-when= "select" >{{champ.nom}}
                        <select ng-model = "champ.valeur" name="{{champ.name}}" ng-init = "champ.default_select">
                          <option ng-repeat="val in champ.default_select" value="{{val}}">{{val}}</option>
                        </select>
                      </label>
                    </ng-switch>




                  </div>
              </div>
          </div>

        </form>
        <input type="button" class="btn btn-primary btn-lg btn-block" ng-click = "update(modele)" value="Créer">

    </div>
    </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
