body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    font-family: sans-serif;
    line-height: 1.4;
}

a{
    text-decoration: none;
}

hr {
    border: 0;
    border-top: 1px solid #8c8c8c;
    border-bottom: 1px solid #fff;
}

.InfoArticle{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}


#containerArticle{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
            'photo photo sidebar'
            'photo photo sidebar'
            'photo photo actions';
}
#photoArticle{
    grid-area: photo;
}
.sidebar_article{
    grid-area: sidebar;
    background-color: #8c8c8c;
}

#form{
    grid-area: actions;
}

.tableau {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.tableau td, .tableau th {
    border: 1px solid #ddd;
    padding: 8px;
}

.tableau tr:nth-child(even){background-color: #f2f2f2;}

.tableau tr:hover {background-color: #ddd;}

.tableau th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #333;
    color: white;
}

input[type=password],input[type=file], input[type=text], select, textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}
a{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}

input[type=submit] {
    width: 100%;
    background-color: #34B484;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

input[type=submit]:hover {
    background-color: #2f9b70;
}

.container{
    padding: 50px;
}
