/****************************************************
 *      Bases
 *****************************************************/
body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    font-family: sans-serif;
    line-height: 1.4;
    display: grid;
    grid-template-rows: 1fr 1fr 4fr;
}

#main{

}

#SideBar{

}

#head{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  background-color: white;
}
a{
    text-decoration: none;
    width: 100%;
}

hr{
    border: 0;
    border-top: 1px solid #8c8c8c;
    border-bottom: 1px solid #fff;
}


/****************************************************
 *      Boutons
 *****************************************************/
input[type=password],input[type=file], input[type=text], input[type=email], select, textarea{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

input[type=submit] {
    width: 100%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

/****************************************************
 *      Titres
 *****************************************************/
.title {
    color: #333;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.title:hover {
    color: #3463b4;
}



/****************************************************
 *      Bouton poussoir
 *****************************************************/
.push_button{
    position:relative;
    width:200px;
    color:#FFF;
    display:block;
    text-decoration:none;
    margin:0 auto;
    border-radius:5px;
    border:solid 1px #D94E3B;
    background: rgb(53, 82, 148);
    text-align:center;
    padding:20px 30px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-box-shadow: 0px 9px 0px #1a5b85;
    -moz-box-shadow: 0px 9px 0px #1a5b85;
    box-shadow: 0px 9px 0px #1a5b85;
}
.push_button:active{
    -webkit-box-shadow: 0px 2px 0px #043886;
    -moz-box-shadow: 0px 2px 0px #043886;
    box-shadow: 0px 2px 0px #043886;
    position:relative;
    top:7px;
}
.push_button:disabled{
    border:solid 1px rgb(161, 161, 161);
    background:#717171;
    -webkit-box-shadow: 0px 9px 0px #474747;
    -moz-box-shadow: 0px 9px 0px #474747;
    box-shadow: 0px 9px 0px #474747;
}
.hidden{
    display: none;
}


label{
    width: 100%;
}


/****************************************************
 *      Formulaire d'ajout
 *****************************************************/
.content label{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.content label input, .content label select {
    width: 100%;
}


/****************************************************
 *      Modèles
 *****************************************************/

 .modal-content{
   text-align: center;
 }

 input[type=checkbox]{
   display: none;
 }
 .actions{
   text-align: center;
   display: grid;
   grid-gap: 10px;
   grid-template-columns: 1fr 1fr 1fr;
 }

 .categorie{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
 }

 .item{
   width: 100%;
 }

 .circle{
    margin:10px;
    width:100px;
    background: rgba(18, 81, 147, 0.7);
    height:100px;
    text-align:center;
    border-radius:100px;
    line-height: 50px;
}
